#title {
    background-color: #ff4c68;
    color: white;
}

.container-fluid {
    padding: 3% 17% 7%
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    line-height: 1.5;
    font-weight: 900;
}

h2 {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 2.7rem;
    line-height: 1.5;
}

h3 {
    font-family: 'Montserrat';
    font-size: 1.5rem;
    line-height:1.5;
    font-weight: 900;
}

p {
    color: #8f8f8f;
    font-weight: 400;
    font-size: 1.2rem;
}
body {
    font-family: 'Montserrat';
    size: 5rem
}


/* nav bar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
}

.nav-item {
    padding: 0 18px
}

.nav-link {
    font-size: 1.3rem;
    font-family: "Montserrat";
    font-weight: 300;
    color: rgb(245, 211, 211);
}

.download-button {
    margin: 5% 3% 5% 0%
}


/* title image */

.title-image {
    width: 50px
    padding: 0% 0% 7% 6%;
    transform: rotate(25deg);
    position: absolute;
    right: 20%;
}


/* features */

#features {
    padding: 7% 15%;
    background-color: white;
    
    position: relative;
}

.feature-box {
    text-align: center;
    padding: 5%;
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}


/* testimonial */

#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: white;
    
}

.carousel-item {
    padding: 7% 15%;
}

.testimonial-image {
     width: 10%;
     border-radius: 100%;
     margin: 20px;
}

/* press */

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-image {
    margin: 50px 50px 50px;
    width: 8%;
}

/* pricing */

.btn {
    text-align: center;
}

#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-column {
    padding: 3% 2%;
}


/* call to action */

#cta {
    background-color: #ff4c68;
    color: white;
    padding: 7% 15%;
    text-align: center;
   
}

.cta-header {
    font-family: 'Montserrat';
    font-size: 4rem;
    font-weight: 900;
}

/* footer */

#footer {
    text-align: center;
    padding: 7% 15%;

}

.feet {
    margin: 20px 10px;
}
@media (max-width: 1028px) {
    .title-image {
        position: static;
        transform: rotate(0);
    }

    #title {
        text-align: center;
    }
}

